/* @import "#nuxt-feedback/tailwind"; */

/* :root {
  --radio-checked-border: #f43f5e;
  --radio-checked-background: #fecdd3;
}

.dark {
  --radio-checked-border: #f43f5e;
  --radio-checked-background: #9f1239;
} */
